:root {
    --primary-color: #d3d3d3;
    --secondary-color: rgb(77, 77, 141);
    --button-color: #71c6dd;
    --text-color: #333;
    --border-color: #64658fb9;
    --btn-text: #f4f4f4;
    --delete-btn: rgb(192, 27, 27);
  }
  
  body {
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--text-color);
    transition: background-color 0.2s, color 0.2s;
  }
  
  html {
    scroll-behavior: smooth;
    font-size: 90%;
  }
  
  h1,
  h2,
  h3 {
    margin: 0;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--text-color);
  }
  
  a:hover {
    color: var(--button-color);
  }
  
  p {
    line-height: 1.4em;
    color: var(--text-color);
  }
  
  img {
    height: 30px;
    width: 30px;
    background-size: cover;
    /* border-radius: 50%;
    border: 2px solid var(--button-color); */
  }